In [96]:
import xlrd

quarters = ["Q1", "Q2", "Q3", "Q4"]

colleges_by_expense = ['UNIVERSITY OF CHICAGO (THE)', \
                           'COLUMBIA UNIVERSITY IN THE CITY OF NEW YORK', \
                           'BARNARD COLLEGE', 'SCRIPPS COLLEGE', \
                           'TRINITY COLLEGE', 'UNIVERSITY OF SOUTHERN CALIFORNIA', \
                           'OBERLIN COLLEGE', 'SOUTHERN METHODIST UNIVERSITY', \
                           'SARAH LAWRENCE COLLEGE', 'DARTMOUTH COLLEGE', \
                           'UNIVERSITY OF TENNESSEE', \
                           'UNIVERSITY OF TENNESSEE - CHATTANOOGA']

colleges_by_enrollment = ['TEXAS A&M UNIVERSITY', \
                          'UNIVERSITY OF CENTRAL FLORIDA-MAIN CAMPUS', \
                          'OHIO STATE UNIVERSITY', \
                          'FLORIDA INTERNATIONAL UNIVERSITY', \
                          'UNIVERSITY OF FLORIDA', 'UNIVERSITY OF MINNESOTA', \
                          'UNIVERSITY OF TEXAS - AUSTIN', \
                          'ARIZONA STATE UNIVERSITY', \
                          'GEORGIA STATE UNIVERSITY', \
                          'UNIVERSITY OF SOUTH FLORIDA', \
                          'UNIVERSITY OF TENNESSEE', \
                          'UNIVERSITY OF TENNESSEE - CHATTANOOGA']

colleges_by_rank = ['HARVARD UNIVERSITY', 'STANFORD UNIVERSITY', \
                    'MASSACHUSETTS INSTITUTE OF TECHNOLOGY', \
                    'UNIVERSITY OF CALIFORNIA, BERKELEY', \
                    'PRINCETON UNIVERSITY', \
                    'COLUMBIA UNIVERSITY IN THE CITY OF NEW YORK', \
                    'UNIVERSITY OF CHICAGO (THE)', \
                    'YALE UNIVERSITY', 'UNIVERSITY OF PENNSYLVANIA', \
                    'UNIVERSITY OF TENNESSEE', \
                    'UNIVERSITY OF TENNESSEE - CHATTANOOGA']

In [97]:
def getData(filename):
    workbook = xlrd.open_workbook(filename)
    worksheet = workbook.sheet_by_index(0)

    data = []
    start_row = 6

    for i in range(start_row, worksheet.nrows):
        school_name = worksheet.cell(i, 1).value
        school_state = worksheet.cell(i, 2).value
        school_type = worksheet.cell(i, 4).value
        school_sub = [worksheet.cell(i, 5).value, worksheet.cell(i, 6).value, worksheet.cell(i, 7).value,\
                      worksheet.cell(i, 8).value, worksheet.cell(i, 9).value]
        school_unsub = [worksheet.cell(i, 10).value, worksheet.cell(i, 11).value,\
                        worksheet.cell(i, 12).value, worksheet.cell(i, 13).value,\
                        worksheet.cell(i, 14).value]
        school_plus = [worksheet.cell(i, 20).value, worksheet.cell(i, 21).value,\
                       worksheet.cell(i, 22).value, worksheet.cell(i, 23).value,\
                       worksheet.cell(i, 24).value]

        row = {}
        row['name'] = school_name
        row['state'] = school_state
        row['type'] = school_type
        row['sub'] = school_sub
        row['unsub'] = school_unsub
        row['plus'] = school_plus
        data.append(row)
    return data

In [100]:
def loan_vs(data, colleges):  
    for x in colleges:
        tot_sub_rec = 0
        tot_unsub_rec = 0
        tot_plus_rec = 0
        
        tot_sub_dis = 0
        tot_unsub_dis = 0
        tot_plus_dis = 0
        for q in data:
            for row in q:
                if x == row['name']:
                    if row['sub'][4] != '-' and row['sub'][4] != ' -':  
                        tot_sub_rec += row['sub'][0]
                        tot_sub_dis += row['sub'][4]
                    
                    if row['unsub'][4] != '-' and row['unsub'][4] != ' -':  
                        tot_unsub_rec += row['unsub'][0]
                        tot_unsub_dis += row['unsub'][4]
                    
                    if row['plus'][4] != '-' and row['plus'][4] != ' -':
                        tot_plus_rec += row['plus'][0]
                        tot_plus_dis += row['plus'][4]
                    break
        sub_per_rec = tot_sub_dis / tot_sub_rec
        unsub_per_rec = tot_unsub_dis / tot_unsub_rec
        plus_per_rec = tot_plus_dis / tot_plus_rec
            
        print(x)
        print('Subsidized:', sub_per_rec)
        print('Unsubsidized:', unsub_per_rec)
        print('Plus:', plus_per_rec, '\n')

In [101]:
#Average Loan vs. Cost of School
data = []
for quarter in quarters:
    filename = '../data/06-20/18-19/DL_Dashboard_AY2018_2019_' + quarter + '.xls'
    data.append(getData(filename))

#My first question
print("Loan vs. Cost of College\n")
loan_vs(data, colleges_by_expense)

#My second question
print("Loan vs. Enrollment of College\n")
loan_vs(data, colleges_by_enrollment)

#My third question
print("Loan vs. Rank of College\n")
loan_vs(data, colleges_by_rank)

Loan vs. Cost of College

UNIVERSITY OF CHICAGO (THE)
Subsidized: 3499.2140077821014
Unsubsidized: 4740.395256916996
Plus: 29226.661904761906

COLUMBIA UNIVERSITY IN THE CITY OF NEW YORK
Subsidized: 4232.659475218659
Unsubsidized: 5320.12739965096
Plus: 29310.749262536872

BARNARD COLLEGE
Subsidized: 4416.373579545455
Unsubsidized: 3162.927536231884
Plus: 28958.761904761905

SCRIPPS COLLEGE
Subsidized: 4121.780952380952
Unsubsidized: 3532.9504950495048
Plus: 25598.555555555555

TRINITY COLLEGE
Subsidized: 4165.439716312057
Unsubsidized: 3783.408293460925
Plus: 27847.274647887323

UNIVERSITY OF SOUTHERN CALIFORNIA
Subsidized: 2493.2722036631726
Unsubsidized: 1656.1026982378855
Plus: 21913.087954939343

OBERLIN COLLEGE
Subsidized: 4084.9015421115064
Unsubsidized: 3327.1116071428573
Plus: 24284.748251748253

SOUTHERN METHODIST UNIVERSITY
Subsidized: 4159.686206896552
Unsubsidized: 3266.064894448788
Plus: 24661.812854442345

SARAH LAWRENCE COLLEGE
Subsidized: 4348.731448763251
Unsubsidized: 3188.329721362229
Plus: 19873.708994708995

DARTMOUTH COLLEGE
Subsidized: 3096.9737089201876
Unsubsidized: 2882.6377491207504
Plus: 23931.41

UNIVERSITY OF TENNESSEE
Subsidized: 3992.6204679162674
Unsubsidized: 3696.0285191956123
Plus: 16446.370302474792

UNIVERSITY OF TENNESSEE - CHATTANOOGA
Subsidized: 3415.9685851318945
Unsubsidized: 3496.223110151188
Plus: 9369.378873239437

Loan vs. Enrollment of College

TEXAS A&M UNIVERSITY
Subsidized: 3868.2850184399135
Unsubsidized: 3566.7235054347825
Plus: 15275.766597314167

UNIVERSITY OF CENTRAL FLORIDA-MAIN CAMPUS
Subsidized: 2289.45383894615
Unsubsidized: 2336.868515520518
Plus: 10947.542062911485

OHIO STATE UNIVERSITY
Subsidized: 3959.892190259904
Unsubsidized: 3723.694420302451
Plus: 14463.781188118812

FLORIDA INTERNATIONAL UNIVERSITY
Subsidized: 2342.9950171677415
Unsubsidized: 2519.614368290669
Plus: 7085.173970783532

UNIVERSITY OF FLORIDA
Subsidized: 3482.295901742073
Unsubsidized: 3724.8805847793415
Plus: 11694.214057507987

UNIVERSITY OF MINNESOTA
Subsidized: 3160.5738636363635
Unsubsidized: 3759.8578052550233
Plus: 8840.142857142857

UNIVERSITY OF TEXAS - AUSTIN
Subsidized: 3511.4081273565143
Unsubsidized: 3390.4236949462993
Plus: 10552.645557122709

ARIZONA STATE UNIVERSITY
Subsidized: 3647.4517139209406
Unsubsidized: 4207.8045227854445
Plus: 16372.161194833154

GEORGIA STATE UNIVERSITY
Subsidized: 3388.073373459444
Unsubsidized: 3637.8810877246888
Plus: 10428.918729817007

UNIVERSITY OF SOUTH FLORIDA
Subsidized: 2206.9188600239277
Unsubsidized: 2260.0949884037514
Plus: 8669.237867395763

UNIVERSITY OF TENNESSEE
Subsidized: 3992.6204679162674
Unsubsidized: 3696.0285191956123
Plus: 16446.370302474792

UNIVERSITY OF TENNESSEE - CHATTANOOGA
Subsidized: 3415.9685851318945
Unsubsidized: 3496.223110151188
Plus: 9369.378873239437

Loan vs. Rank of College

HARVARD UNIVERSITY
Subsidized: 3729.7636363636366
Unsubsidized: 5091.644028103045
Plus: 30319.766917293233

STANFORD UNIVERSITY
Subsidized: 3116.0921985815603
Unsubsidized: 4723.424036281179
Plus: 25170.135483870967

MASSACHUSETTS INSTITUTE OF TECHNOLOGY
Subsidized: 3910.0943396226417
Unsubsidized: 4912.454545454545
Plus: 26281.908396946565

UNIVERSITY OF CALIFORNIA, BERKELEY
Subsidized: 3543.875265167586
Unsubsidized: 3244.5737773152964
Plus: 19286.79351216469

PRINCETON UNIVERSITY
Subsidized: 3976.2571428571428
Unsubsidized: 5477.988165680474
Plus: 31746.79487179487

COLUMBIA UNIVERSITY IN THE CITY OF NEW YORK
Subsidized: 4232.659475218659
Unsubsidized: 5320.12739965096
Plus: 29310.749262536872

UNIVERSITY OF CHICAGO (THE)
Subsidized: 3499.2140077821014
Unsubsidized: 4740.395256916996
Plus: 29226.661904761906

YALE UNIVERSITY
Subsidized: 3829.233333333333
Unsubsidized: 4860.63829787234
Plus: 27883.345323741007

UNIVERSITY OF PENNSYLVANIA
Subsidized: 3710.190981432361
Unsubsidized: 4370.138024357239
Plus: 23989.312896405918

UNIVERSITY OF TENNESSEE
Subsidized: 3992.6204679162674
Unsubsidized: 3696.0285191956123
Plus: 16446.370302474792

UNIVERSITY OF TENNESSEE - CHATTANOOGA
Subsidized: 3415.9685851318945
Unsubsidized: 3496.223110151188
Plus: 9369.378873239437